<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche en temps réel</title>
</head>
<body>
    <input type="text" id="search" placeholder="Rechercher un produit...">
    <ul id="results"></ul>
    
    <script>
        document.getElementById('search').addEventListener('input', function() {
            let query = this.value;
            if (query.length > 0) {
                fetch(`/search/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    let results = document.getElementById('results');
                    results.innerHTML = '';
                    data.forEach(item => {
                        let li = document.createElement('li');
                        let a = document.createElement('a');
                        a.href = `/products/${item.id}/`;
                        a.textContent = item.name;
                        li.appendChild(a);
                        results.appendChild(li);
                    });
                });
            } else {
                document.getElementById('results').innerHTML = '';
            }
        });
    </script>


    <ul>
        <p> 
            {% for product in product_price %}


    <li>{{product.name}}</li>
    <li>{{product.price}}fc</li>



{% endfor %}

        </p>
    </ul>
    </body>
</html>