<input type="text" id="search" placeholder="Rechercher un produit...">
<ul id="results"></ul>


<script>
    document.getElementById('search').addEventListener('input', function() {
        let query = this.value;
        if (query.length > 0) {
            fetch(`/search/?q=${query}`)
            .then(response => response.json())
            .then(data => {
                let results = document.getElementById('results');
                results.innerHTML = '';
                data.forEach(item => {
                    let li = document.createElement('li');
                    
                    let a = document.createElement('a');
                    a.href = `/products/${item.id}/`;
                    a.textContent = item.name;
                    
                    let img = document.createElement('img');
                    img.src = item.image; 
                    console.log(item);
                    img.alt = item.name;
                    img.style.width = '50px'; // Ajustez la taille de l'image selon vos besoins
                    img.style.height = '50px'; // Ajustez la taille de l'image selon vos besoins
                    
                    li.appendChild(img);
                    li.appendChild(a);
                    results.appendChild(li);
                });
            });
        } else {
            document.getElementById('results').innerHTML = '';
        }
    });
</script>



{% for product in products %}

<ul>

    <li>{{product.name}}</li>
    <li>{{product.description}}</li>
    {% if product.image %}
        <img src="{{product.image.url}}" style="width: 80px; height:80px">
    
    {% endif %}


</ul>


{% endfor %}
